<h3>Submissions</h3>
<hr>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Problem</th>
            <th scope="col">Verdict</th>
            <th scope="col">Sent</th>
            <th scope="col">Judged</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="<%=submission.url%>"> <%=submission.short_id%></a></td>
            <td><%=submission.user.username%></td>
            <td><%=submission.problem.name%></td>
            <td><%=submission.status%></td>
            <td><%=submission.createdAt%></td>
            <%if(submission.status=="PENDING"){%>
            <td> - </td>
            <%}else{%>
                <td><%=submission.updatedAt%></td>
            <%}%>
        </tr>
    </tbody>
</table>
<div class="source">
    <div class="title">Source</div>
    <pre class="code">
        <%=submission.codestr%>
    </pre>
</div>
<style>
    .source{
        border:2px solid black;
    }
    .title{
        font-weight: bold;
        text-align: center;
        border-bottom:2px solid black ;
    }
</style>