<h1>Contests List</h1>
<hr>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">status</th>
        </tr>
    </thead>
    <tbody>
        <% list.forEach(function(contest){ %>
        <tr>
            <td><a href="<%=contest.url%>"><%=contest.code %></a></td>
            <td><%=contest.name %></td>
            <td><%=contest.start_time %></td>
            <td><%=contest.end_time %></td>
            <td><%=contest.status %></td>
        </tr>
        <%});%>
    </tbody>
</table>