<%-include('header');-%>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Successful Submissions</th>
            <th scope="col">Accuracy</th>
        </tr>
    </thead>
    <tbody>
        <% var i=1;%>
        <%contest.problems.forEach(function(problem){ %>
            <tr>
                <th scope="row"><%=i%></th>
                <td><a href="<%=contest.url%>/problems/<%=problem._id%>"> <%=problem.name%></a></td>
                <td><a href="<%=contest.url%>/problems/<%=problem._id%>/submissions"> <%=subcnt[problem._id]%></td>
                <td>50.23</td>
            </tr>
            <% i++;%>
            <%});%>
    </tbody>
</table>